@font-face {
   font-family: 'FC Lamoon Light ver 1.00';
   font-display: swap;
   src: url('file:///C:/Users/BungEarn/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-06_171922/fonts/FC%20Lamoon%20Light%20ver%201.00/font.ttf');
}
